// Colors

$color-text: #000;
$color-back: #fff;
$color-accent: blue;

$color-border: $color-text;

// Font

$font-body: sans-serif;

// Weights

$weight-regular: 400;
$weight-medium: 500;
$weight-semi: 600;
$weight-bold: 700;

// Border

$border-default: 1px solid $color-border;